.App {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.photo-container {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.photo-container img {
	width: 200px;
	height: 250px;
}

.photo-container p {
	width: 80%;
}

.button-container {
	display: flex;
	height: 100px;
	background-color: green;
	justify-content: center;
	align-items: center;
}
